name: V2Ray Collector Bot

on:
  schedule:
    - cron: '*/15 * * * *'  # اجرا هر ۱۵ دقیقه (دقیق)
  workflow_dispatch:      # دکمه اجرای دستی

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install telethon jdatetime pytz

    - name: Run script
      env:
        API_ID: ${{ secrets.API_ID }}
        API_HASH: ${{ secrets.API_HASH }}
        SESSION_STRING: ${{ secrets.SESSION_STRING }}
      run: python main.py

